@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins',sans-serif;
}

.head{
    font-size: 35px;
    color: #ecf0f1;
    font-weight: 400;
    text-align: center;
}

.head span{
    color: #EAB543;
}

body{
    margin: 0;
    padding: 0;
    background-color:#182C61;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.container{
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);

}
.input-container{
    display: flex;
    width: 100%;
    align-items: center;
    border: 3px solid #70e6f3;
    border-radius: 8px;
    overflow: hidden;
}
.search-img{
    width: 20px;
    height: 20px;
}
.cityInput{
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    padding:8px;
}
.search-icon {
    padding: 10px;
    height: 30px;
    cursor: pointer;
}
.search-icon img{
    margin-top: 5px;
}


.image{
    text-align: center;
    height: 150px;
    margin:10px 0px;

}

.image img{
    width: 140px;
    height: 140px;
}
.temp,
.location,
.country{
    font-size: 35px;
    margin-top: 5px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}
.temp{
    font-weight: 500;
}
.location{
    color: #ffbc00;
    font-weight: 400;
    font-size: 40px;
}
.country{
    font-size: 18px;
    color: #888;
    font-weight: 500;
}
.cord{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}
.cord div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cord div span{
    font-size: 14px;
}

.humidity-percentage,
.wind-percentage,
.cord div span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    color: #666;
    padding-top: 5px;
}
.data-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.element{
    text-align: center;
}
.icon{
    height: 50px;
    width: 50px;
}

.text{
    font-size: 12px;
    color: #888;
}

.city-not-found,
.loading-message,
.error-message{
    margin-top: 10px;
    color: #888;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.copyright{
    text-align: right;
    font-size: 12px;
    color: #333;
    margin-top: 30px;
    margin-bottom: -20px;
}